@keyframes fadeInUp {
  from {
      opacity: 0;
      transform: translateY(20px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.animate {
  opacity: 0; /* Começa invisível */
  animation: fadeInUp 0.5s forwards; /* Animação de 0.5s */
}

@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.05);
  }
  100% {
      transform: scale(1);
  }
}

.btn {
  transition: transform 0.3s ease;
}

.btn:hover {
  animation: pulse 0.6s infinite; /* Animação de pulsar ao passar o mouse */
}

@keyframes fadeInLeft {
  from {
      opacity: 0;
      transform: translateX(-20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
      opacity: 0;
      transform: translateX(20px);
  }
  to {
      opacity: 1;
      transform: translateX(0);
  }
}

.animate-left {
  opacity: 0; /* Começa invisível */
  animation: fadeInLeft 0.5s forwards; /* Animação de 0.5s */
}

.animate-right {
  opacity: 0; /* Começa invisível */
  animation: fadeInRight 0.5s forwards; /* Animação de 0.5s */
}